# Ignore data files
data/
output/
model/
preprocessed_images/
preprocessed_images_with_graph/
preprocess_superpixel_images_with_graph/

# Ignore Python virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log
.DS_Store
.python-version
